*{
    box-sizing: border-box;
}
.flext-intro{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */

}
@media  (min-width: 480px) {
    body {
      background-color:darkblue
    }
  }
  .wrapper {overflow: auto;}

  #main {margin-left: 4px;}
  
  #leftsidebar {
    float: none;
    width: auto;
  }
  
  #menulist {
    margin: 0;
    padding: 0;
  }
  
  .menuitem {
    background: #CDF0F6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
  }
  
  @media screen and (min-width: 480px) {
    #leftsidebar
     {width: 200px;
     float: left;
     background-color: #a9e5bb;
    }
    #main {margin-left: 216px;}
  }
.image{
    display: flex;
    /* flex: auto;/ */
    flex-direction: column;
    margin-right: 1em;
    align-items: center;
    justify-content: center;
    background: #CDF0F6;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    list-style-type: none;
    margin: 4px;
    padding: 2px;
}
.flex-multiple{
    /* min-height: 100vh; */
}
.flex{
    display: flex;
    height: 150px;
    width: 150px;
    background: pink;
    border:1px solid red;
    

}
.clearfix::after{
    /* display: table; */
    /* clear: both; */
    /* content: ''; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}
.flex-style{
    display: flex;
    padding: 1em 2em;
    /* margin: ; */
}
.flex-parent{
    width: 30%;
    flex: left;
    /* margin-right: 3%; */
    padding: 1rem 2rem;
}
.flex-layout-one{
    background: #a9e5bb;
    padding: 0.5em 1em;
}
.name{
    padding: 1rem 2rem;
}
.flex-layout-two{
    margin: 3%;
    /* width: ; */
    /* float: left;"" */
    padding: 2rem 4rem;

}
.firstflex{
    display: flex;
    flex-direction: column;
    background: rgb(0, 204, 255);
    float: left;
    width: 25%;
    /* margin: 3%; */
}
.fourthflex{
    display: flex;
    flex-direction: column;
    background-color: #a9e5bb;
    float:left;
    width: 50%;
    /* margin: 3%; */
}
.secondflex{
    display: flex;
    flex-direction: column;
    background:rgb(0, 204, 255); 
    float: right;
    width: 25%;
    /* margin: 3%;? */
}
.thirdflex{
    display: flex;
    flex-direction: column;
    background: rgba(0, 60, 255, 0.918);
    clear: both;
    padding: 1em 3em;
    /* margin: 3%; */
    /* width: 50%; */

}
.faeezah{
    display: flex;
    flex-direction: column;
    /* background: #a9e5b88e; */
    background-color: aqua;
    /* margin-inline: auto; */
    /* margin-inline: 20px; */
    text-align: center;
    align-items: center;
    justify-content: center;
}
.faeezah2{
    display: flex;
    flex-direction: column;
    /* height: 20rem; */
    /* width: 10rem; */
    /* padding: 0.5rem 1rem; */
    /* outline: black; */
    /* border: black; */
    text-align: center;
    align-items: center;
    /* display: block; */
    border: 1px solid black;
    justify-content: center;
    flex: left;
    width: 150px;
    overflow:hidden;
    /* background-color: aqua;s */
    background: aqua;
    box-shadow:1px 1px black ;
    box-shadow: 0px px;
    /* margin-inline: auto; */
    margin-inline: 20px;
}

.qwerty{
    display: flex;
    flex-direction: column;
    /* border-color: black; */
    /* height: 150px; */
    /* width: 80px; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid ; */
    max-width: 100%;
    background: aqua;
    /* display: block; */
    /* margin-inline: auto; */
    /* padding-inline: auto; */
    /* margin-inline: 2px; */
    /* margin-inline: 20px; */
}
.box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
    /* background: aqua; */
}